<h1>{{title}}</h1>
<p>Welcome to Ze Lab</p>

<body>
  <img src="https://media.giphy.com/media/l0MYEqEzwMWFCg8rm/giphy.gif">
</body>

<h3>Show Celebs</h3>
<a href="/celebrities"> Celebrities List </a>

<h3>New Celeb</h3>
<a href="/celebrities/new"> Add a Star </a>